.avg-input-text {
    text-align: center;
    vertical-align: central;
    height: 20px;
}

.avg-label {
    text-align: center;
    width: 40px;
    align-items: center;
    display: flex;
}

.avg-center {
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    display: flex;
}

.avg-container-center {
    display: flex;
    justify-content: center;
}