.avg-label {
  text-align: center;
  flex: 1;
  font-weight: 600;
  -webkit-user-select: none;
}

.avg-input-text {
    width: 40px;
    vertical-align: central;
}

.avg-input-label {
    width: 40px;
    vertical-align: central;
}